<!-- templates/index.html -->
{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Transcrição de Vídeos do YouTube</h1>
  <form id="youtube-form" onsubmit="processVideo(event)">
    <label for="youtube_url">Insira o link do YouTube:</label>
    <input
      type="text"
      id="youtube-url"
      name="youtube_url"
      placeholder="URL do vídeo"
      required
    />
    <button type="submit">Processar</button>
  </form>
  <div id="status" style="display: block; margin-top: 20px; color: white"></div>
  <div id="links" style="display: none; margin-top: 20px">
    <p style="display: block; margin-bottom: 10px">
      mp3 salvo em <code id="audio-link"></code>
    </p>
    <p style="display: block; margin-bottom: 10px">
      transcrição salva em <code id="transcript-link"></code>
    </p>
    <p style="display: block">
      legenda salva em <code id="subtitle-link"></code>
    </p>
  </div>
  <div>
    <h2>Next step</h2>
    <p>
      <a href="/training">Training</a>
    </p>
  </div>
</div>

<script>
  function processVideo(event) {
    event.preventDefault(); // Previne o envio tradicional do formulário
    const youtubeUrl = document.getElementById("youtube-url").value;
    const statusDiv = document.getElementById("status");
    const linksDiv = document.getElementById("links");

    statusDiv.textContent = "Processando o vídeo. Aguarde...";
    linksDiv.style.display = "none"; // Oculta os links enquanto processa

    fetch("/process", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ youtube_url: youtubeUrl }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          statusDiv.textContent =
            "Processamento concluído! Links disponíveis abaixo:";
          document.getElementById("audio-link").innerText = data.audio_file;
          document.getElementById("transcript-link").innerText =
            data.transcript_file;
          document.getElementById("subtitle-link").innerText =
            data.subtitle_file;
          linksDiv.style.display = "block";
        } else {
          statusDiv.textContent = "Erro: " + data.error;
        }
      })
      .catch((error) => {
        statusDiv.textContent = "Erro ao processar o vídeo. Tente novamente.";
        console.error("Erro ao processar o vídeo:", error);
      });
  }
</script>

{% endblock %}
